.popupSubhead {
  p {
    font-size: 0.8rem;
  }

  a {
    font-size: 0.8rem;
    color: var(--white);

    &:hover {
      color: var(--white);
      text-decoration: underline;
    }
  }
}
.dimmed {
  opacity: 0.5;
}
