.mentionPopup {
  background: var(--black);
  border: 1px solid var(--grey-800);
  border-radius: 0.4rem;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  box-shadow: -1px 1px 2px rgba(255, 255, 255, 0.2);
  max-width: 600px;

  a {
    cursor: pointer;
  }
}

.popupSubhead {
  p {
    font-size: 0.8rem;
  }

  a {
    font-size: 0.8rem;
    color: var(--white);

    &:hover {
      color: var(--white);
      text-decoration: underline;
    }
  }
}
.dimmed {
  opacity: 0.5;
}
